celery==4.3.0
Django==2.2.8
django-autocomplete-light==3.4.1
django-controlcenter==0.2.9
django-currentuser==0.4.2
django-debug-toolbar==2.0
django-fsm==2.6.1
django-fsm-admin==1.2.4
django-fsm-log==1.6.2
django-import-export==1.2.0
django-localflavor==2.2
 -e git://github.com/darklow/django-suit.git@v2#egg=django-suit
django-suit-dashboard==2.0.6
django-taggit==1.1.0
redis==3.2.1
